.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  font-size: calc(10px + 2vmin);
  color: white;
}

.allTodos{
  list-style:none;
  margin:0;
  padding:0;
}
.singleTodo{
  border-radius:50px;
  padding:10px 20px;
  background-color:blue;
  margin:10px 0;
  display:flex;
  width:450px;
  align-items:center;

}
.todoText{
  text-align:start;
  flex:1;   
}

